---
import { getCollection } from "astro:content";

const fanfictions = await getCollection("fanfictions");
const series = await getCollection("series");

// Uncomment the next line to see what's inside the `fanfictions`
// or `series`variables and what data you can access
// console.dir(fanfictions, { depth: null });
// console.dir(series, {depth: null})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Hello fujin</h1>
    <ul>
      {
        fanfictions.map((fic) =>
          fic.data.locked ? (
            <li>Locked</li>
          ) : (
            <li>
              <div>
                {fic.data.title} by {fic.data.authors[0].pseud} (
                {fic.data.rating})
              </div>
              <div class="relationships">
                Relationships: {fic.data.tags.relationships.join(", ")}
              </div>
            </li>
          ),
        )
      }
    </ul>
  </body>
</html>

<style>
  .relationships {
    color: lightslategray;
    font-size: small;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
</style>
