---
import Login from "../../../dist/components/Login.astro";
import {AtpBaseClient} from "@atproto/api";

const MS_BOBA_DID = "did:plc:r2vpg2iszskbkegoldmqa322";
const HAETAE_DID = "did:plc:dg2qmmjic7mmecrbvpuhtvh6";
const FUJOCODED_DID = "did:plc:737bslnnf7vyaktosjlrshmd";
const user = Astro.locals.loggedInUser;
if (!user?.did) {
    return Astro.redirect("/?reason=unauthorized");
}
const agent = new AtpBaseClient("https://public.api.bsky.app");
const relationships = await agent.app.bsky.graph.getRelationships({actor: FUJOCODED_DID, others: [user.did]});
const usersRelationship = relationships.data.relationships.at(0);

// True if the current user follows you 
const follower =  usersRelationship && "followedBy" in usersRelationship && Boolean(usersRelationship.followedBy);
// True if you follow the current user
const following = usersRelationship && "following" in usersRelationship && Boolean(usersRelationship.following);
// True if this is a mutual relationship
const mutuals = follower && following;

if (!following) {
    return Astro.redirect("/?reason=unauthorized");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    Only friends allowed. You {user.handle}, are a friend.
    <Login />
  </body>
</html>
