---
import Login from "../../../dist/components/Login.astro";
import {AtpBaseClient} from "@atproto/api";

const SITE_OWNER_DID = "did:plc:dg2qmmjic7mmecrbvpuhtvh6";
const user = Astro.locals.loggedInUser;
if (!user?.did) {
    return Astro.redirect("/?reason=unauthorized");
}
const agent = new AtpBaseClient("https://public.api.bsky.app");
const following = await agent.app.bsky.graph.getFollows({actor: SITE_OWNER_DID});
const isFollowed = following.data.follows.some(follow => follow.did === user.did);

if (!isFollowed) {
    return Astro.redirect("/?reason=unauthorized");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    Only friends allowed. You {user.handle}, are a friend.
    <Login />
  </body>
</html>
