table {
	max-width: 50%;
	border-spacing: 5px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/*
table.deleted tbody tr td {
	opacity: .4;
}
*/

span.delete_response {
	opacity: 1.0 !important;
	text-decoration: none !important;
	color: red;
}

td:first-child {
	font-weight: bold;
}
table td + td {
	border-left: 1px solid #ddd;
	padding-left: 5px;
	white-space: pre-line;
}
