---
import { defaultDevUser } from "fujocoded:authproto/config";

interface Props {
  /** Optional redirect URL after successful login/logout */
  redirect?: string;
}

const { redirect: redirectUrl } = Astro.props;
const currentUser = Astro.locals.loggedInUser;
---

{
  currentUser ? (
    // If there's a current user, show the log out button
    <form action="/oauth/logout" method="post">
      {redirectUrl && <input type="hidden" name="redirect" value={redirectUrl} />}
      <button type="submit">Logout</button>
    </form>
  ) : (
    // If there's no current user, show the login button
    <form action="/oauth/login" method="post">
      <input
        name="atproto-id"
        value={import.meta.env.DEV ? defaultDevUser : undefined}
      />
      {redirectUrl && <input type="hidden" name="redirect" value={redirectUrl} />}
      <button type="submit">Login</button>
    </form>
  )
}
