---
---
<atfujo-links did="did:plc:r2vpg2iszskbkegoldmqa322" pds-url="https://lionsmane.us-east.host.bsky.network">
  <template>
    <li class="contact"><a href="" data-platform></a></li>
  </template>
  <ul></ul>
</atfujo-links>

<script>
  import "../components/PdsLinks";
</script>