---
import { Login } from "@fujocoded/authproto/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <p>
      Only <a href="https://bsky.app/profile/essentialrandom.bsky.social">
        Ms Boba's Bluesky followers
      </a> are allowed.
    </p><p>You {Astro.locals.loggedInUser!.handle}, are a friend.</p>
    <Login />
  </body>
</html>
