---
const loggedInUser = Astro.locals.loggedInUser;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>STRANGER, BEGONE!</h1>
    Only friends are allowed on <code>{Astro.originPathname}</code>. <br />
    {
      loggedInUser && (
        <>
          You, {loggedInUser.handle}, do NOT{" "}
          <a href="https://bsky.app/profile/essentialrandom.bsky.social">
            follow Ms Boba on Bluesky
          </a>
          ...yet!
        </>
      )
    }
    {!loggedInUser && <>I have no idea who you are...try logging in!</>}
  </body>
</html>
