---
import { Login } from "@fujocoded/authproto/components";
import Status from "../components/Status.astro";
const user = Astro.locals.loggedInUser;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {!user ? "Please log in:" : `Welcome ${user.handle} (${user.did})`}
    <Login />
    
    {user && (<Status />)}
  </body>
</html>
